.menu-root {
    -fx-background-color: transparent;
}

.menu-background {
    -fx-opacity: 0.2;
}

.menu-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #8e2de2, #4a00e0);
    -fx-effect: dropshadow(gaussian, black, 5, 0.6, 2, 2);
}

.menu-button {
    -fx-font-size: 18px;
    -fx-pref-width: 250;
    -fx-pref-height: 60;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 4, 0.4, 2, 2);
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

.version-label {
    -fx-font-size: 12px;
    -fx-text-fill: rgba(255,255,255,0.6);
    -fx-padding: 5;
}
